body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    color: black;
}

/* HEADER */
header {
    width: 100%;
    /* makes it always visible */
    position: fixed;
    /* make it translucid */
    opacity: 0.7;
}

nav {
    height: 3vh;
    background-color: black;
    color: black;
    padding: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    /* vertical align to the middle */
    display: flex;
    align-items: center;

    display: flex;
    /* Blur the background */
    /* backdrop-filter: blur(50%);
    -webkit-backdrop-filter: blur(50%); */
}

/* if backdrop support: very transparent and blurred
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    nav {
        background-color: rgba(6, 0, 0, 0.568);
        -webkit-backdrop-filter: saturate(180%) blur(200px);
        backdrop-filter: saturate(180%) blur(200px);
    }
} */

.nav-left {
    width: 50%;
    display: flex;
    align-items: center;
}

#NavPractiques {
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;

}

#author {
    padding-left: 1rem;
    color: whitesmoke;
}

#search {
    color: red;
    padding-left: 1rem !important;
    opacity: 1;

}

.nav-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#search-bar {
    padding: 0;
    border-radius: 10%;
    border: 1px solid gray;
    opacity: 1;
}


/* CONTENIDO DE LA WEB */

div.content {
    /* Display items each one next to the other */
    display: flex;
    padding-top: 3rem;

}

div.index {
    width: 27.5%;
    padding-left: 5rem;
    padding-top: 3rem;
    text-align: left;
    position: fixed;

}

div.index h1#titulo-indice {
    font-size: 1.8rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: .5rem;

}

div.index h2 {
    font-size: 1.4rem;
    padding-top: 1.2rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

a.index-chapter {
    text-decoration: none;
    color: black;
    margin-bottom: 0;

}

div.index div.index-el {
    font-size: 1.2rem;
    padding-top: 1.2rem;
}

a.index-el {
    text-decoration: none;
    color: black;
}

h1.target-element {
    padding-top: 1rem;
}

h1.target-element#first-title {
    padding-top: 0;
}

div.web-chapter {
    padding-left: 30%;
    padding-right: 5rem;
    padding-top: 3rem;
    width: 60%;
}

div.web-chapter h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2.5rem;
}

div.web-chapter h2 {
    padding-top: 1rem;
    font-size: 1.8rem;
}

div.web-chapter p {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
}

div.web-chapter li {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
}

div.web-chapter div.img {
    text-align: center;
}

div.web-chapter div.code {
    font-size: 1rem;
    padding-left: 2%;
    border-left: 1px solid rgb(174, 49, 0);
}

code span.html-tag {
    color: rgb(174, 49, 0);
    margin: 0;
    padding: 0;
}