body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
    color: black;
}

/* HEADER */

nav {
    margin: 0;
    width: 100%;
    height: 3vh;
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    /* vertical align to the middle */
    display: flex;
    align-items: center;
    /* makes it always visible */
    position: fixed;
    /* make it translucid */
    opacity: 0.8;
    display: flex;
}


#NavPractiques {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    
}

#author {
    padding-left: 1rem;
    color: gray;
}

#search {
    color: red;
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 10%;
    padding: 5px;
    opacity: 1;

}


/* CONTENIDO DE LA WEB */

div.content {
    /* Display items each one next to the other */
    display: flex;
    padding-top: 3rem;
    
}

div.index {
    width: 27.5%;
    padding-left: 5rem;
    padding-top: 3rem;
    text-align: left;
    position: relative;

}

div.index h1#titulo-indice {
    font-size: 1.8rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: .5rem;
    
}

div.index h2 {
    font-size: 1.4rem;
    padding-top: 1.2rem;
    margin-block-end: 0;
    margin-block-start: 0;
}

a.index-chapter {
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    
}

div.index div.index-desplegable {
    font-size: 1.2rem;
    padding-top: 1.2rem;
}

a.index-desplegable {
    text-decoration: none;
    color: black;
}

div.web-chapter {
    padding-left: 1%;
    padding-right: 5rem;
    padding-top: 3rem;
    width: 60%;
}

div.web-chapter h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2.5rem;
}

div.web-chapter h2 {
    padding-top: 1rem;
    font-size: 1.8rem;
}

div.web-chapter p {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
}

div.web-chapter li {
    font-size: 1.3rem;
    line-height: 2;
    text-align: justify;
}

div.web-chapter div.img {
    text-align: center;
}

div.web-chapter div.code {
    font-size: 1rem;
    padding-left: 2%;
    border-left: 1px solid rgb(174, 49, 0); 
}

code span.html-tag {
    color: rgb(174, 49, 0);
    margin: 0;
    padding: 0;
}





